/* trace component ag grid styles */
.ag-theme-balham .dubbo {
	background-color:#ffe58f;
}
.ag-theme-balham .mysql {
	background-color: #91d5ff;
}
.ag-theme-balham .local_method {
}

.percent-complete-bar {
    display: inline-block;
    height: 6px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}
